.pizza-logo {
  filter: drop-shadow(0px 0px 8px rgba(28, 8, 8, 0.4));
  padding-left: 30px;
  padding-top: 20px;
  height: 70px;
  width: 70px;
}

.pizza-logo:hover {
  filter: drop-shadow(0px 0px 10px #b42323);
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #b42323;
  border-radius: 15px;
  margin-right: 30px;
  margin-top: 10px;
  padding: 10px 15px;
  box-shadow: rgba(28, 8, 8, 0.15) 0px 0px 8px;
}

.head-nav a {
  color: #ffffff;
  text-decoration: none;
}

.head-nav a:hover {
  color: #1c0808;
}

.divider {
  width: 1px;
  height: 30px;
  background: rgb(255, 255, 255);
}
